/*Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Nunito:wght@200..1000&display=swap');

/*Paleta e fonte*/
:root{
    /*Paleta*/
    --cor-primaria: #a9e190;
    --cor-secundaria: #593c8f;
    --cor-complementar: #b8b8ff;
    --cor-verde-complementar: #2a8f55;
    --cor-roxa-complementar: #170329;
    --branco: #fff;
    --preto: #000;
    --cinza: #3e424d;
    --cor-fundo: #08070d;
    --cinza-claro: #d9d9d9;
    --fundo-roxo: #6F45BD;
    --fundo-footer: #0D0614;

    /*Fonte*/
    --titulo: "Epilogue", sans-serif;
    --texto: "Nunito", sans-serif;
}

/*Tags básicas*/

html, body{
    background-color: var(--cor-fundo);
    width: 100%;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Tags de texto*/

h1, h2{
    font-family: var(--titulo);
    color: var(--branco);
}
h1{
    font-size: 4rem;
    font-weight: 600;
}
h2{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
}
h3{
    font-weight: 700;
    font-family: var(--texto);
    color: var(--cor-complementar);
    font-size: 1.8rem;
}

p{
    font-family: var(--texto);
    color: #fff;
}

/*Tag link*/

a{
    color: var(--branco);
    text-decoration: none;
    font-family: var(--texto);
    font-weight: 300;
}
a:hover{
    color: var(--cor-complementar);
}

/*Span*/

.span-roxo{
    color: var(--cor-complementar);
}
.span-verde{
    color: var(--cor-primaria);
}


/*topicos*/
.topicos-secoes{
    width: 200px;
    height: 35px;
    border: 2px solid var(--branco);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9e190;
    background-image: linear-gradient(122deg, #a9e190 18%, #b8b8ff 77%);
}
.topic-titulo{
    color: var(--cor-roxa-complementar);
    font-weight: 700;
    font-size: 1.2rem;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: #3f2263;
    border-radius: 6px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    background-image: linear-gradient(180deg, #a9e190 0%, #b8b8ff 100%);
    border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: #3f2263
                        var(--cor-primaria);
    }
}