footer{
    width: 100%;
    background-color: var(--fundo-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
}
#footer-text-section{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 40%;
    padding-left: 2%;
}
#img-logo-iaragames{
    width: 200px;
    height: auto;
}
#footer-redes-logo{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 70px;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--branco);
}
.footer-redes-contact{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    font-size: 1.4rem;
}
#footer-description-section{
    display: flex;
    flex-direction: row;
    width: 35%;
}
.footer-description-info{
    display: flex;
    flex-direction: column;
    width:35%;
    gap: 15px;
    font-size: 1rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;  
    font-weight: 400;
}
.footer-title-description{
    font-weight: 600;
}
#footer-copyright{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60%;
    font-weight: 300;
    background-color: var(--cor-roxa-complementar);
    color: var(--branco);
    font-weight: 300;
    font-family: var(--titulo);
}